<div class="flex min-h-screen flex-col">
    <app-topbar />

    <main class="flex-1 p-4">
        <button hlmBtn size="icon" class="size-8">
            <ng-icon hlm size="sm" name="lucideChevronRight" />
        </button>
        @if (todos.isLoading()) {
            <p>Loading...</p>
        } @else if (todos.error()) {
            <p>Failed to load todos.</p>
        } @else {
            @for (todo of todos.value(); track todo.id) {
                <p>{{ todo.title }}</p>
            } @empty {
                <p>No todos yet.</p>
            }
        }
    </main>
</div>
